/* global.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('/src/assets/field-sky4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: system-ui, sans-serif;
}

/*body::before {*/
/*    content: "";*/
/*    position: fixed;*/
/*    top: 0; left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(255, 255, 255, 0.4); !* светлый фильтр *!*/
/*    z-index: -1;*/
/*}*/